html {
  height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
}

.content {
  width: 80%;
  max-width: 1500px;
  margin: auto;
}

.card {
  background-color: white;
  width: 198px;
  height: 200px;
  border: 1px solid black;
  float: left;
}

.game {
  float: left;
  width: 75%;
}

.controls {
 float: left;
 width: 25%;
}
